#prova {
	background-color: blue;
}

#login_form {
	border: 2px solid black;
	padding: 1em;
	margin: 10em auto 0 auto;
	background-color: white;
	width: 50%;
/*
	CSS 3:
*/
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#login_form input:hover{
	background-color: #FFFFB3;
}


#box {
	background-color: white;
	width: 15em;
	height: 15em;
	margin: 2em 0 0 2em;
	padding: 1em;
	z-index: 20;
	position: absolute;
}

#sfondo_trasparente {
	background-color: white;
	width: 20em;
	height: 20em;
	z-index: 10;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
